# Diabetes Predictions

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
dbts = pd.read_csv('daibetes-data.csv')

In [3]:
dbts.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [4]:
dbts.shape

(768, 10)

In [5]:
dbts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num_preg      768 non-null    int64
 1   glucose_conc  768 non-null    int64
 2   diastolic_bp  768 non-null    int64
 3   thickness     768 non-null    int64
 4   insulin       768 non-null    int64
 5   bmi           768 non-null    float64
 6   diab_pred     768 non-null    float64
 7   age           768 non-null    int64
 8   skin          768 non-null    float64
 9   diabetes      768 non-null    bool
dtypes: bool(1), float64(3), int64(6)
memory usage: 54.9 KB

In [6]:
dbts.corr()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
num_preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,-0.081672,0.221898
glucose_conc,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.057328,0.466581
diastolic_bp,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.207371,0.065068
thickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,1.000000,0.074752
insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.436783,0.130548
bmi,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.392573,0.292695
diab_pred,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.183928,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,-0.113970,0.238356
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,1.000000,0.074752
diabetes,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,0.074752,1.000000

In [7]:
dbts.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

# Changing the diabetes column data from True or False to number

In [8]:
diabetes_map = {True: 1, False: 0}
dbts['diabetes'] = dbts['diabetes'].map(diabetes_map)

In [9]:
dbts.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,1
1,1,85,66,29,0,26.6,0.351,31,1.1426,0
2,8,183,64,0,0,23.3,0.672,32,0.0000,1
3,1,89,66,23,94,28.1,0.167,21,0.9062,0
4,0,137,40,35,168,43.1,2.288,33,1.3790,1

In [10]:
diabetes_true_count = len(dbts.loc[dbts['diabetes'] == True])
diabetes_false_count = len(dbts.loc[dbts['diabetes'] == False])

(diabetes_true_count,diabetes_false_count)

(268, 500)

In [11]:
feature_columns = ['num_preg', 'glucose_conc', 'diastolic_bp', 'insulin', 'bmi', 'diab_pred', 'age', 'skin']
predicted_class = ['diabetes']

In [12]:
X = dbts[feature_columns].values
y = dbts[predicted_class].values

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=10)

In [14]:
from sklearn.impute import SimpleImputer

In [15]:
fill_values = SimpleImputer(missing_values=0, strategy="mean")
X_train = fill_values.fit_transform(X_train)
X_test = fill_values.fit_transform(X_test)

In [16]:
from sklearn.ensemble import RandomForestClassifier

random_forest_model = RandomForestClassifier(random_state=10)

random_forest_model.fit(X_train, y_train.ravel())

RandomForestClassifier(random_state=10)

In [17]:
predict = random_forest_model.predict(X_test)

In [18]:
from sklearn.metrics import mean_squared_error
from sklearn import metrics

In [19]:
mse = mean_squared_error(y_test, predict )

In [20]:
mse

0.26406926406926406

In [21]:
rmse = np.sqrt(mse)

In [22]:
rmse

0.513876701232177

In [23]:
print("Accuracy = {0:.3f}".format(metrics.accuracy_score(y_test, predict)))

Accuracy = 0.736

In [24]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(random_forest_model,X,y.ravel(),cv=10)

In [25]:
score.mean()

0.7630211893369789

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [27]:
model = DecisionTreeClassifier()

In [28]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [29]:
npredict = model.predict(X_test)

In [30]:
print("Accuracy = {0:.3f}".format(metrics.accuracy_score(y_test, npredict)))

Accuracy = 0.714

In [31]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(model,X,y,cv=10)

In [32]:
score.mean()

0.7069548872180451